---
import Layout from "../layouts/Layout.astro";
import NavDetail from "../components/NavDetail.astro";
import * as aboutPage from '/content/about.md';

---

<Layout title="Opulent - Over ons">
    <header>
        <NavDetail />
    </header>
    <main class="text-fuchsia-dark bg-fuchsia flex-grow">

        <div class="container  mx-auto py-20 grid grid-cols-3 gap-10">
            <div class="col-span-3 sm:col-span-2">
                <h1 class="font-heading text-3xl inline-block mb-10">{aboutPage.frontmatter.title}</h1>
                <div class="mb-4 font-light space-y-4" set:html={aboutPage.compiledContent()}></div>
               
            </div>

            <div class="col-span-3 sm:col-span-1">
                <img src={aboutPage.frontmatter.image} />
                <p class="mt-2 text-sm">
                    Oscar Thewissen<br/>
                    Interieurontwerper en drijvende kracht achter Opulent.
                </p>
            </div>
        </div>

    </main>
</Layout>
