---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import About from "../components/About.astro";
import Proces from "../components/Proces.astro";
import Faq from "../components/Faq.astro";
import Contact from "../components/Contact.astro";
import Projects from "../components/Projects.vue";
---

<Layout title="Welcome to Opulent">
	<header>
        <Nav />
    </header>
	<main>
		<Projects client:visible />
        <About />
        <Proces />
        <Faq />
        <Contact />
	</main>
    <footer>

    </footer>
</Layout>
