<section class="py-32 bg-fuchsia" id="about">
	<div class="mx-auto sm:container">
		<h1 class="text-primary font-heading text-5xl inline-block mb-10">
			Interior design <span class="font-body text-xl block text-right mt-2 font-regular">for tha daring</span>
		</h1>
		<p class="w-1/2  leading-7">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum ipsam quas,
			aspernatur nulla quae blanditiis amet, sed suscipit ratione voluptatibus
			perspiciatis pariatur. Minus ab nostrum officiis consectetur nisi officia
			explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
			ipsam quas, aspernatur nulla quae blanditiis amet, sed suscipit ratione
			voluptatibus perspiciatis pariatur. Minus ab nostrum officiis consectetur
			nisi officia explicabo.
		</p>
	</div>
</section>

<section style="background-image: url(/tafereel.jpg);" class="py-32 bg-cover bg-center min-h-[60vh]">
	
	<div class="text-white bg-primary-light ml-[66%] inline-block w-1/4 p-16 rounded-3xl ">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolorem dolores enim ex exercitationem hic 
		iusto magnam nam, officia sed! Aliquam at debitis deserunt ducimus nesciunt possimus quaerat soluta voluptates.	
	</div>
</section>
