---
import * as homePage from '/content/home.md';
---
<section class="py-32 bg-fuchsia bg-cover bg-center" id="about" style="background-image: url('/grote parel.png')" >
	<div class="mx-auto container">
		<h1 class="text-primary font-heading text-5xl inline-block mb-10">
			Interior <span class="font-body block text-right mt-5 sm:mt-2 font-regular">for the daring</span>
		</h1>
		<p class="w-full sm:w-1/2 text-primary leading-7" set:html={homePage.frontmatter.about}>
		
		</p>
		
		<a href="/about" class="inline-block text-primary underline font-semibold tracking-wide mt-5">Meer over ons <i class="fas fa-angle-right ml-1"></i></a>
	</div>
</section>