---
import ContactForm from "./contactform.vue";
---
<section class="py-32 bg-primary" id="contact">
	<div class="mx-auto container">
		<div class="flex flex-col sm:flex-row">
			<div class="w-full sm:w-1/2 lg:pr-32">
				<h2 class="text-white font-heading text-3xl inline-block">
					Contact
				</h2>
				<p class="text-white mb-8 mt-4">
					Heeft Opulent je kunnen inspireren? Neem gerust vrijblijvend contact op en vertel ons wat we samen met jou zouden kunnen bereiken. We kijken al uit naar de kennismaking!
				</p>
				<ul class="flex space-x-6 ml-12">
					<li>
						<a href="">
							<img src="/instagram.png" alt="instagram" width="45" />
						</a>
					</li>
					<li>
						<a href="">
							<img src="/telefoon.png" alt="phone" width="45" />
						</a>
					</li>
					<li>
						<a href="">
							<img src="/email.png" alt="e-mail" width="45" />
						</a>
					</li>
				</ul>
			</div>
			<div class="w-full sm:w-1/2 mt-10 sm:mt-0">
				<ContactForm client:load />
			</div>
		</div>
	</div>
</section>
