<section class="py-32 bg-fuchsia-dark text-white" id="process">
	<div class="mx-auto container">
		<div class="flex flex-col sm:flex-row">
			<div class="sm:w-1/4">
				<h2 class="font-heading text-3xl inline-block mb-10 text-white">
					FAQ
				</h2>
			</div>
			<div class="sm:w-3/4 ">
				<ul class="space-y-10">
					<li>
						<div class="mb-2 font-semibold">Is elk ontwerp uniek?</div>
						<div>
							Absoluut! We maken een analyse op basis van wensen en persoonlijkheid, en van daaruit bouwen we een ontwerp op. 
							We houden rekening met de site, omgeving en de noden en wensen. 
							Door rekening te houden met deze factoren zal elk ontwerp steeds volledig uniek zijn.
						</div>
					</li>
					<li >
						<div class="mb-2 font-semibold">Ben ik verplicht een bepaald proces volledig te volgen?</div>
						<div>
							Helemaal niet. Er zijn zelfs veel verschillende mogelijkheden. In een eerste korte kennismaking (via mail of telefoon) 
							leren we van elkaar wat je precies wilt en kunnen wij een voorstel op maat doen van een 
							proces waarin precies zit wat jij nodig hebt zonder vast te zitten aan overbodige verplichtingen.
						</div>
					</li>
					<li>
						<div class="mb-2 font-semibold">Hoeveel kost een interieuradvies?</div>
						<div>
							Het is werk dat niet te standaardiseren valt, en daardoor is dat voor een prijs ook zo. De omvang van het project, 
							de verwachtingen, en de graad van begeleiding zijn allemaal van invloed op de prijs. 
							Er worden ook andere prijzen gehanteerd voor residentiële projecten en bedrijfs- of hospitality projecten. 
							Bij voorkeur wordt het budget al in een eerste gesprek aangehaald. 
							Op die manier komen we beiden niet voor verrassingen te staan alvorens er verdere afspraken gemaakt worden.
						</div>
					</li>
					<li>
						<div class="mb-2 font-semibold">Hoeveel tijd neemt een project in van a tot z?</div>
						<div>
							Sterk vergelijkbaar met de prijs, is ook de timing zeer afhankelijk van de omvang, de verwachtingen en de graad 
							van begeleiding in het proces. Daarbij komt ook de timing van leveranciers of partners die het geheel 
							allesbehalve gemakkelijk inschatbaar maken. Zodra een project officieel aanvangt en de route en 
							opties duidelijk uitgestippeld zijn, kan een timing wel nauwkeuriger afgelijnd worden.
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
