---
import * as homePage from '/content/home.md';
---
<section class="py-32 bg-fuchsia-dark text-white">
	<div class="mx-auto container">
		<div class="flex flex-col sm:flex-row">
			<div class="sm:w-1/4">
				<h2 class="font-heading text-3xl inline-block mb-10 text-white">
					FAQ
				</h2>
			</div>
			<div class="sm:w-3/4 ">
				<ul class="space-y-10">
					{
						homePage.frontmatter.faq.map(fa => (<li>
								<div class="mb-2 font-semibold">{fa.title}</div>
								<div set:html={fa.body}></div>
							</li>))
					}
				</ul>
			</div>
		</div>
	</div>
</section>
