<section class="py-32 bg-fuchsia-dark text-white" id="process">
	<div class="mx-auto container">
		<div class="flex flex-col sm:flex-row">
			<div class="sm:w-1/4">
				<h2 class="text-primary font-heading text-3xl inline-block mb-10 text-white">
					FAQ
				</h2>
			</div>
			<div class="sm:w-3/4 ">
				<ul>
					<li class="mb-10">
						<div class="mb-3 font-semibold">Lorem ipsum dolor sit amet?</div>
						<div>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi fugiat, minus? Alias, blanditiis cumque dicta fuga officia provident qui quibusdam temporibus! Amet asperiores ea excepturi ipsum quibusdam rem sed ut!
						</div>
					</li>
					<li class="mb-10">
						<div class="mb-3 font-semibold">Lorem ipsum dolor sit amet?</div>
						<div>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi fugiat, minus? Alias, blanditiis cumque dicta fuga officia provident qui quibusdam temporibus! Amet asperiores ea excepturi ipsum quibusdam rem sed ut!
						</div>
					</li>
					<li>
						<div class="mb-3 font-semibold">Lorem ipsum dolor sit amet?</div>
						<div>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi fugiat, minus? Alias, blanditiis cumque dicta fuga officia provident qui quibusdam temporibus! Amet asperiores ea excepturi ipsum quibusdam rem sed ut!
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
