<nav class="bg-primary text-white">
	<ul class="flex justify-evenly items-center py-24">
		<li><a href="#projects">Projects</a></li>
		<li><a href="#about">About us</a></li>
		<li>
			<a href="/">
				<img src="/logo-wit.png" class="w-32 block" />
			</a>
		</li>
		<li><a href="#info">Info us</a></li>
		<li><a href="#contact">Contact</a></li>
	</ul>
</nav>
