---
interface Project {
    title:string;
    description: string;
    image: string;
}
const projects = await Astro.glob<Project>('../pages/projects/*.md');

---
<div class="h-[50rem] overflow-x-hidden flex whitespace-nowrap">
    {projects.map((project) => {
        const image = "background-image: url(" + project.frontmatter.image + ")";
        
        return <div
                class="h-full w-full bg-center bg-cover flex flex-col items-center justify-center"
                style={image} title={project.frontmatter.image}>
            <a href={project.url} class="inline-block bg-primary text-white px-6 py-2 rounded font-semibold tracking-wide opacity-80 hover:opacity-100">
                {project.frontmatter.title}
            </a>
        </div>
    })}
</div>

